@model CatLib.Models.Cat

<h3>@Html.LabelFor(model => model.names)</h3> <br />
<h3>@Html.DisplayFor(model => model.names)</h3> <br />
<h3>@Html.LabelFor(model => model.ages)</h3> <br />
<h3>@Html.DisplayFor(model => model.ages)</h3> <br />

@Html.ActionLink("Back to list", "Index")
