@model IEnumerable<CatLib.Models.Cat>

<table border="1">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td> 
            <td>@item.names</td> 
            <td>@item.ages</td> 
            <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td> 
            <td>@Html.ActionLink("Update", "Update", new { id = item.id })</td> 
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
        </tr>
    }
        <tr>
            <td>@Html.ActionLink("Create cat", "Create")</td>
        </tr>    
</table>
