@model CatLib.Models.Cat

@using CatLib.Models

@Html.BeginForm()
{ 
    <h3>@Html.LabelFor(model => model.names)</h3> <br />
    <h3>@Html.EditorFor(model => model.names)</h3> <br />
    <h3>@Html.LabelFor(model => model.ages)</h3> <br />
    <h3>@Html.EditorFor(model => model.ages)</h3> <br />
    <h4>@Html.LabelFor(model => model.color)</h4>
    @Html.DropDownListFor(model => model.color, new SelectList(Enum.GetValues(typeof(Color)))) <br />

    <input type="submit" value="Update" />
}

@Html.ActionLink("Back to list", "Index")




